---
import { URL_BASE } from "@/config";
---

<div
  class="w-full bg-abbott-gradient-wh p-2 lg:p-8 h-28 flex items-center"
>
  <a class="block" href={URL_BASE}
    ><img
      class="w-40 h-auto"
      src={URL_BASE + "img/abbott.webp"}
      alt="logo abbott"
    />
  </a>
</div>
