---
import { URL_BASE } from "@/config"
---

<footer class="p-2 pt-16 lg:p-8 lg:pt-16">
  <div class="text-right">
    <img
      class="inline-block w-full max-w-80"
      src={URL_BASE +"img/educando.webp"}
      alt="Programa EDUCANDO AL FUTURO"
    />
  </div>
</footer>
