---
import { URL_BASE } from "@/config"
---

<footer class="p-8 lg:pt-16 max-w-[1200px] mx-auto">
  <div class="text-right">
    <img
      class="inline-block w-full max-w-64"
      src={URL_BASE +"img/educando.webp"}
      alt="Programa EDUCANDO AL FUTURO"
    />
  </div>
</footer>
