---
import { URL_BASE } from '@/config';
import GameApp from '@/components/GameApp';
---

<section class="max-w-[1444px] mx-auto bg-gris-abbott">
  <div class="max-w-[1200px] mx-auto p-2 pt-10 pb-16">
    <div>
      <div class="w-60">
        <img
          src={URL_BASE + "img/educando.webp"}
          alt="Logo educando al futuro"
          width="448"
          height="107"
          class="max-w-full h-auto"
        />
      </div>
    </div>
    <div class="mt-12">
      <GameApp client:load/>
    </div>

  </div>
</section>