---
import AbbottConBackground from "@/components/AbbottConBackground.astro";
interface Props{
  text: string;
}

const { text } = Astro.props;
---

<header>
  <AbbottConBackground />
</header>
<span class={`text-${text} text-sm font-light absolute z-50 -right-3 md:right-0 top-40 -rotate-90`}>COL2333812</span>

