---
import { URL_BASE } from "@/config";
---

<section
  style={`background-image: url(${URL_BASE}img/hero.webp); background-size: cover; background-position: top center;`}
  class="min-h-[500px] md:min-h-[800px] max-w-[1200px] mx-auto flex"
>
  <div class="p-8 md:p-20 flex flex-col justify-between">
      <div class="md:max-w-[400px] xl:max-w-[500px]">
        <img
          class="max-w-full h-auto"
          width="700"
          height="180"
          src=`${URL_BASE}img/title-rosado.webp`
          alt="Yo soy mi mejor decisión"
        />
      </div>
      <div class="w-full">
        <a
          href={URL_BASE + "app"}
          class="w-full text-center inline-block px-8 py-4 bg-rosado-abbott text-white text-base md:text-3xl rounded-full font-brandon"
        >
          <span class="font-bold">HAZ CLIC AQUÍ</span> PARA EMPEZAR
        </a>
      </div>
  </div>
</section>
<section class="bg-violeta-abbott px-2 max-w-[1200px] mx-auto p-8 lg:p-16">
  <p class="text-2xl md:text-4xl font-georgia md:leading-[3.5rem]">
    Este aplicativo tiene como objetivo reforzar los conocimientos entre los
    estudiantes universitarios sobre las conductas sexuales de riesgo para que
    puedan identificarlas y evitarlas, como un acto de responsabilidad y amor
    propio.
  </p>
</section>
